# Backend server
PORT=3000
SESSION_SECRET=super-secret

# Database connection
DATABASE_URL=postgresql://postgres:password@localhost:5432/progetresto

# Optional socket URL (if front-end and back-end are served on different origins)
VITE_SOCKET_URL=http://localhost:3000
